.container {
}

.input-btn {
  padding: 1.5rem;
  background-color: #333;
  color: #eee;
  text-align: right;
  font-size: 2.5rem;
  font-weight: 700;
}

.big-btn,
.enter-btn,
.input-btn {
  border-radius: 30px;
  border: none;
}

table {
  background: #525252;
  padding: 1.2rem;
  border: none;
  border-radius: 30px;
  border-spacing: 10px 10px;
}

td {
  width: 22%;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 50%;
  border: none;
}

.menu__btn {
  background-color: #d4d4d4;
  border: none;
  color: #333;
}

.num__btn {
  background-color: #333;
  border: none;
  color: #eee;
}

.operator__btn {
  background-color: orange;
  border: none;
  color: #eee;
}
